

.container_login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border: none;
    border-radius: 10px;
}

.login input {
    margin: 8px 0;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
