* {
  margin: 0;
  padding: 0;
}

body,html {
	background: linear-gradient(-45deg, #ed193b, #a98055, #f286e2, #681d7a);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-y: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.formCalls {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 20%;
}

.formCalls input{
  margin-top: 2%;
  margin-bottom: 6%;
  border: none;
  padding: 6px;
  color: #fff;
  background: none;
  border-top: 1px solid #716561;
  border-bottom: 1px solid #716561;
}

.unloadCalls,
.unloadCalls *,
.unloadCalls :after,
.unloadCalls :before,
.unloadCalls:after,
.unloadCalls:before {
  border: 0 solid;
  box-sizing: border-box;
}
.unloadCalls {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.unloadCalls:disabled {
  cursor: default;
}
.unloadCalls:-moz-focusring {
  outline: auto;
}
.unloadCalls svg {
  vertical-align: middle;
}
.unloadCalls [hidden] {
  display: none;
}
.unloadCalls {
  --thickness: 0.3rem;
  --roundness: 1.2rem;
  --color: #eff6ff;
  --opacity: 0.6;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background: none;
  background: hsla(0, 0%, 100%, 0.2);
  border: none;
  border-radius: var(--roundness);
  color: var(--color);
  cursor: pointer;
  display: block;
  font-family: Poppins, "sans-serif";
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 3rem;
  position: relative;
}
.unloadCalls:hover {
  background: hsla(0, 0%, 100%, 0.3);
  filter: brightness(1.2);
}
.unloadCalls:active {
  --opacity: 0;
  background: hsla(0, 0%, 100%, 0.1);
}
.unloadCalls svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.unloadCalls rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  rx: var(--roundness);
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.unloadCalls:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}
@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}

.divCall {
    height: 100vh;
    overflow: auto;
}

#callsList {
	width: 100%;
	border: none;
	margin-bottom: 20px;
  border-collapse: collapse;
}

#callsList  th {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: sticky;
  top: 0;
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	color: #f4f4f4;
	border-top: 2px solid #716561;
	border-bottom: 2px solid #716561;
}

#callsList tr td {
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #f0f3f4;
	border-bottom: 1px solid #716561;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.process {
    cursor: pointer;
    transition: .8s;
}

.process:hover {
    transform: scale(1.2);
}